:root {
    --main: #C98B29;
    --bg1: #151D1C;
    --bg2: #192322;
    --bg3: #272A21;
    --bg4: #21241C;
    --text1: #31625E;
    --text1rgba: 49, 98, 94;
    --text2: #5CA356;
    --textwhite: #C7BAB2;
    --textwhite2: #806D62;
}


body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

*
{
    box-sizing: border-box;
}
header {
    z-index: 999;
    position: sticky;
    left: 0;
    top: 0;
    width: 100%;
    background-color: var(--bg2);
    color: var(--main);
    text-align: center;
}
main {
    background-color:var(--bg1);
    padding: 20px;
    padding-top: 0;
    flex-grow: 1;
}
footer {
    margin-top: auto;
    width: 100%;
    background-color: var(--bg2);
    color: var(--textwhite);
    text-align: center;
}


.content-2
{
    background-color: var(--bg4);
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
.content-3
{
    background-color: var(--bg4);
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
.content-1 {
    background-color: var(--bg4);
    margin-top: 10%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    color: var(--textwhite);
}
#startPar
{
    color: var(--textwhite2);
}
.SectionTitle
{
    color: var(--textwhite)
}


.juz-list {
    margin-bottom: 40px;
    list-style-type: none;
    padding: 0;
}

.juz-list li {
    margin-bottom: 10px;
}

.juz-list li a {
    display: block;
    background-color: var(--bg3);
    color: var(--textwhite2);
    text-decoration: none;
    padding: 10px 20px;
    opacity: 0.7;
    border-radius: 5px;
    transition: background-color 0.1s ease;
}

.juz-list li a:hover {
    color: var(--textwhite);
    background-color: var(--bg3);
    opacity: 1;
}


.original-button {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    text-decoration: none;
    color: var(--textwhite);
    font-size: 18px;
    border-radius: 10px;
    width: 200px;
    height: 40px;
    font-weight: bold;
    transition: 0.3s;
    box-shadow: -2px 2px 3px 0px rgba(0, 0, 0, 0.2);
    background-color: var(--text1);
}
  
.original-button:hover {
    opacity: .7;
}

.juz-list-container {
    align-items: center;
    justify-content: center;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    background-color: var(--bg4);
}

.juz-list-container.expanded {
    height: auto;
}

.dropdown-button {
    width: 100%;
    position:absolute;
    bottom: 0;
    background-color: var(--text1);
    color: var(--textwhite);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.dropdown-button:hover {
    opacity: 0.95;
    color: white;
}
.smallText
{
    color: var(--textwhite2);
}
/* FONTS */


.font-recursive {
    font-family: "Recursive", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "CASL" 0,
        "CRSV" 0.5,
        "MONO" 0;
}
.font-noto-kufi {
    font-family: "Noto Kufi Arabic", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.font-amiri-quran-regular {
    font-family: "Amiri Quran", serif;
    font-weight: 400;
    font-style: normal;
}
.font-reddit-mono {
    font-family: "Reddit Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.font-reem-kufi {
    font-family: "Reem Kufi Fun", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
  
