:root
{
    --min-font-size: 2px; 
    --max-font-size: 3px;


    --main: #C98B29;
    --bg1: #151D1C;
    --bg2: #192322;
    --bg3: #272A21;
    --bg4: #21241C;
    --text1: #31625E;
    --text1rgba: 49, 98, 94;
    --text2: #5CA356;
    --textwhite: #C7BAB2;
    --textwhite2: #806D62;
}

body
{
    min-height: 100vh;
    margin: 0;
    background-color: var(--bg1);
}
  
.content {
    margin: 10px auto; /* Center the content horizontally */
    padding: 30px;
    width: 55%;
    border-radius: 7px;
    background-color: var(--bg2);
    color: var(--textwhite);
    display: flex;
    flex-direction: column; /* Align content vertically */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
}
.title
{
    display: flex;
    justify-content: center;
    color: var(--text2);
}

.arabic-text
{
    border-radius: 3px;
    color: none;
    padding: 3px;
    transition: color 0.1s;
    cursor:pointer;
}
.arabic-text:hover
{
    color: var(--text2);
}


.ayah
{
    align-items: center;
    text-align: center;
}
.bismilah
{
    color: var(--text1) !important;
}
*
{
    font-size: 35px;
}
h2
{
    font-size: 45px !important;
}
.number
{
    margin: 7px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--text1);
}


*
{
    box-sizing: border-box;
}


#translation-en {
    margin: 0;
    font-size: 20px;
    color: var(--textwhite2);
}
.left-menu
{
    position: fixed;
    margin: 0;
    border-radius: 10px;
    padding: 18px;
    background-color: var(--bg4);
    left: 7.5px;
    width: calc(22.5% - 15px);
    height: 60px ;
}
.right-menu
{
    position: fixed;
    margin: 0;
    border-radius: 10px;
    padding: 18px;
    background-color: var(--bg4);
    right: 7.5px;
    width: calc(22.5% - 15px);
    height: 60px ;
}
.translation-content-left
{
    position: fixed;
    margin: 0;
    border-radius: 10px;
    padding: 18px;
    background-color: var(--bg3);
    left: 7.5px;
    margin-top: 70px;
    width: calc(22.5% - 15px);
    height: calc(100vh - 90px) ;
}

#translation-ar {
    margin: 0;
    font-weight: 400;
    font-style: normal;
    /* Adjust the formula below to suit your specific needs */
    font-size: 20px;
    color: var(--textwhite2);
}

.translation-content-right
{
    position: fixed;
    margin: 0;
    border-radius: 10px;
    padding: 18px;
    background-color: var(--bg3);
    right: 7.5px;
    margin-top: 70px;
    width: calc(22.5% - 15px);
    height: calc(100vh - 90px) ;
}

  
/* FONTS */

.font-recursive {
    font-family: "Recursive", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "CASL" 0,
        "CRSV" 0.5,
        "MONO" 0;
}
.font-noto-kufi {
    font-family: "Noto Kufi Arabic", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
@supports not (-webkit-text-fill-color: initial) {
/* Change the color of all text, including diacritics */
    .font-amiri-quran-regular {
        color: var(--main);
    }
}
  
.font-amiri-quran-regular {
    font-family: "Amiri Quran", serif;
    font-weight: 400;
    font-style: normal;
}
.font-reddit-mono {
    font-family: "Reddit Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.font-reem-kufi {
    font-family: "Reem Kufi Fun", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}